.footer {
    padding: 0.5rem;
    background-color: #CCC;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: black;
    font-size: small;
    text-align: center;
}

.container {
    column-count: 3;
    column-gap: 20px;
}